@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Barriecito&family=Concert+One&family=Madimi+One&family=Quicksand:wght@300..700&family=Signika:wght@300..700&family=Yusei+Magic&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
}


body {
    color: #222;
    padding-bottom: 50px;
    font-family: "Andika", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    background-image: url(images/pbows.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: rgb(199, 91, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    z-index: -1;
}

.hero h1 {
    font-size: 46px;
    margin: 0 0 20px;
    background-color: rgb(245, 233, 237);
    padding: 5px;
    padding: 1.5rem 3rem;
    margin: 1rem;
    border-radius: 50px;
    border: none;
}


.content h2 {
    color: rgb(199, 91, 129);
    font-size: 150%;
    margin: 20px 0;
}

.content p {
    color: rgb(199, 91, 129);
    line-height: 30px;
    letter-spacing: 1.2px;
}


.nav {
    position: fixed;
    background-image: url(images/ppattern.jpg);
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: rgb(199, 91, 129);
    text-decoration: none;
    padding: 5px 15px;
    transition: all 0.3s ease-in-out;
    box-shadow: black;
}

.nav.active {
    background-color: white;
    box-shadow: 0 2px 10px rbga(0,0,0,0.5);
}

.nav.active a {
    color: rgb(222, 115, 153);
}

.nav.active .container {
    padding: 10px 0;
}

.nav a.current,
.nav a:hover {
    color: rgb(168, 57, 97);
    font-weight: bold;
}
